*.pyc
__pycache__/
db.sqlite3
.env
media/*
!media/.gitkeep
!media/profile_pics/
!media/cover_photos/
!media/post_images/
media/profile_pics/*
!media/profile_pics/.gitkeep
!media/profile_pics/default.jpg
media/cover_photos/*
!media/cover_photos/.gitkeep
media/post_images/*
!media/post_images/.gitkeep
staticfiles/
*.log
.DS_Store
venv/
env/
.vscode/
.idea/
